# PostgreSQL
POSTGRES_VERSION=latest
POSTGRES_DB=test-db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
POSTGRES_DATA_DIR="/absolute/path/to/postgres/data"
POSTGRES_INIT_SCRIPTS_DIR="./postgres/init"

# pgAdmin
PGADMIN_VERSION=7.2
PGADMIN_DEFAULT_EMAIL="mail@pgadminuser.local"
PGADMIN_DEFAULT_PASSWORD="pgadminuserPassword"
PGADMIN_PORT=5050
PGADMIN_DATA_DIR="/absolute/path/to/pgadmin/data"

# Postgres Exporter
POSTGRES_EXPORTER_VERSION=v0.10.1

# Prometheus
PROMETHEUS_VERSION=latest
PROMETHEUS_PORT=9090
PROMETHEUS_DATA_DIR="/absolute/path/to/prometheus/data"

# Grafana
GRAFANA_VERSION=latest
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
GRAFANA_DATA_DIR="/absolute/path/to/grafana/data"